<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <!-- SEO IMPLEMENTATION -->
  <meta name="keywords"
    content="startNg, hotel.ng,HNG, Africa,Technology, software-engineering, front end, Backend, UI/UX, full-stack ">
  <meta name="description"
    content="A Nigerian based software-engineering training provider with the goal of crafting the next generation of highly capable and competent software engineers and solution providers.Our core focus are frontend, backend UI/UX and mobile app developers " />
  <meta name="rating" content="General" />
  <meta name="ROBOTS" content="ALL" />
  <meta name="googlebot" content="FOLLOW" />
  <META NAME="geo.region" CONTENT="Nigeria S/W">
  <meta http-equiv="content-Type" content="text/html; charset=iso-8859-1" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300&display=swap"
  rel="stylesheet" />

  {{--  bootstrap  --}}
  {{ style ('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css') }}

  {{--  fontAwesome  --}}
  {{ style ('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css') }}

  {{--  home css  --}}
  {{ style('home') }}

  {{--  homepage_style  --}}
  {{ style ('homepage_style')}}


  {{--curriculum --}}
  {{style ('curriculumn-v1')}}

  {{--  about-us  --}}
  {{style ('about-us')}}

  {{--  mentors  --}}
  {{style ('mentors')}}

  {{--  contact-page  --}}
  {{style ('contact')}}

  {{--  courses  --}}
  {{style ('courses')}}

  {{--  certificate  --}}
  {{style ('certificate')}}

   {{--  certificate  --}}
   {{style ('certificate-request')}}

  {{--  techies css  --}}
  {{ style('techies') }}

  {{--  header css  --}}
  {{ style('header') }}

  {{--  footer  --}}
  {{ style('footer') }}

  {{--  aos  --}}
  {{ style('https://unpkg.com/aos@2.3.1/dist/aos.css') }}

  {{--  aos  --}}
  {{ script('https://unpkg.com/aos@2.3.1/dist/aos.js') }}

  {{--  Flickty CSS  --}}

  {{ style('https://unpkg.com/flickity@2/dist/flickity.min.css') }}

</head>

<body>
  @include('layout/partials/_navbar')

  <section class="section">
    @!section('content')
  </section>

  @include('layout/partials/_footer')
  
    <!-- * THIS IS THE END OF THE NAVBAR -->


    

    <!-- jquery and bootstrap cdn -->
    {{ script('https://code.jquery.com/jquery-3.2.1.slim.min.js') }}
    {{ script('https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js') }}
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js') }}
    {{ script('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js') }}
    {{ script('homepage_Script') }}
    {{ script('curriculum.js') }}

    <script>
      AOS.init({
        duration: 1000,
      });
    </script>

    
</body>

</html>

